@import '../../variables';
@import '../../styles.scss';

@mixin phone-buttons {
  margin: 10px;
}

@mixin action-buttons {
  background-color: $action-buttons-color;
  margin: 10px;
}

@mixin flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin actionButton {
  @include common-button;
  @include action-buttons;
  &.on {
    background-color: $almost-black;
  }
}

#incomingSmall {
  @include flex-container;
  font-size: 0.7em;
}
#incomingMedium {
  @include flex-container;
  font-size: 0.9em;
}
#incomingLarge {
  @include flex-container;
  font-size: 1em;
}

#dialpad {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  transition: all 0.3s ease, opacity 0.2s ease;
  // height: 320px;
  &.closed {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.statusLarge{
  padding: 2px;
  font-size: 25px;
}

.dialpadButtonSmall {
  @include common-button;
  @include phone-buttons;
  width: 40px;
  height: 40px;
  margin: 5px;
  font-size: 1em;
}

.dialpadButtonMedium {
  @include common-button;
  @include phone-buttons;
  width: 50px;
  height: 50px;
  margin: 8px;
  font-size: 1.2em;
}

.dialpadButtonLarge {
  @include common-button;
  @include phone-buttons;
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 1.5em;
}

.dialpadButtonLetters {
  font-size: 0.5em;
  color: $almost-black;
}

.dialpadRow {
  display: flex;
  flex-direction: row;
}

#actionButtonSmall {
  @include actionButton;
  width: 40px;
  height: 40px;
  margin: 5px;
}
#actionButtonMedium {
  @include actionButton;
  width: 50px;
  height: 50px;
  margin: 8px;
}
#actionButtonLarge {
  @include actionButton;
  width: 60px;
  height: 60px;
  margin: 10px;
}

.endCallButtonSmall {
  @include common-button;
  @include action-buttons;
  background-color: $end-call-button-color;
  width: 40px;
  height: 40px;
  margin: 5px;
}
.endCallButtonMedium {
  @include common-button;
  @include action-buttons;
  background-color: $end-call-button-color;
  width: 50px;
  height: 50px;
  margin: 8px;
}
.endCallButtonLarge {
  @include common-button;
  @include action-buttons;
  background-color: $end-call-button-color;
  width: 60px;
  height: 60px;
  margin: 10px;
}

.startCallButtonSmall {
  @include common-button;
  @include action-buttons;
  background-color: $start-call-button-color;
  width: 40px;
  height: 40px;
  margin: 5px;
}
.startCallButtonMedium {
  @include common-button;
  @include action-buttons;
  background-color: $start-call-button-color;
  width: 50px;
  height: 50px;
  margin: 8px;
}
.startCallButtonLarge {
  @include common-button;
  @include action-buttons;
  background-color: $start-call-button-color;
  width: 60px;
  height: 60px;
  margin: 10px;
}

.actionsContainer {
  @include flex-container;
}

#transferMenu {
  @include flex-container;
  transition: all 0.3s ease;
  &.closed {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

#transferInput {
  @include common-input;
  border: 2px solid $almost-black;
  border-radius: 100px;
  width: 80%;
  padding: 5px 10px 5px 10px;
}

.transferButtonSmall {
  @include common-button;
  @include phone-buttons;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.transferButtonMedium {
  @include common-button;
  @include phone-buttons;
  width: 50px;
  height: 50px;
  margin: 8px;
}

.transferButtonLarge {
  @include common-button;
  @include phone-buttons;
  width: 60px;
  height: 60px;
  margin: 10px;
}