@import '../../variables';
@import '../../styles.scss';

@mixin phone-buttons {
  margin: 25px;
}

@mixin action-buttons {
  background-color: lightgray;
  margin: 25px;
}

@mixin flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin actions-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0px 165px 0 200px;
}

#incoming {
  @include flex-container;
}

#dialpad {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
  align-items: center;
  transition: all 0.3s ease, opacity 0.2s ease;
  height: 500px;
  &.closed {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.statusLarge {
  padding: 2px;
  font-size: 40px;
}

.dialpadButton {
  @include common-button;
  @include phone-buttons;
  font-size: 2em;
  &:active {
    transition: none;
    background-color: #b2c7f1;
  }
}

.dialpadButtonLetters {
  font-size: 0.5em;
  color: $almost-black;
}

.dialpadRow {
  display: flex;
  flex-direction: row;
}

#actionButton {
  @include common-button;
  @include action-buttons;
  &.on {
    background-color: gray;
  }
}

.endCallButton {
  @include common-button;
  @include action-buttons;
  background-color: #ff6961;
  &:active {
    transition: none;
    background-color: #fca09c;
  }
}

.startCallButton {
  @include common-button;
  @include action-buttons;
  transition: all 0.2s;
  transition-delay: 300ms;

  background-color: #15c73b;
  &:active {
    transition: none;
    background-color: #71c082;
  }
}

.actionsContainer {
  @include flex-container;
}

.actionsContainerStrict {
  @include actions-flex-container;
}

#transferMenu {
  @include flex-container;
  transition: all 0.3s ease;
  &.closed {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

#transferInput {
  @include common-input;
  border: 2px solid $almost-black;
  border-radius: 100px;
  width: 80%;
  padding: 5px 10px 5px 10px;
}

.transferButtons {
  @include common-button;
  @include phone-buttons;
}
