@import '../../variables';

.dialpadOpen {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dialpadClosed {
  display: none;
}

.dialpadButton {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: $primary-color;
  color: $almost-black;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  transition: opacity 0.5s ease;
}

.dialpadButton:hover {
  opacity: 0.5;
}

.dialpadButtonLetters {
  font-size: 0.5em;
  color: $almost-black;
}

.dialpadRow {
  display: flex;
  flex-direction: row;
}