@import '../styles.scss';

.dialButton {
  @include common-button;
  height: 40px;
  width: 40px;
  background: none;
}

.dialButtonStrict {
  border: 0;
  padding: 0;
  background: none;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  transition: all 0.2s;
  transition-delay: 300ms;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  background-color: $primary-color;
  color: $almost-black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  height: 200px;
  width: 100%;
  background: none;
  background-color: #15c73b;
  &:active {
    transition: none;
    background-color: #8beb9f;
  }
}

.dialInput {
  @include common-input;
}

.dialstringContainerStrict {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 0px;
}

.dialstringContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border: 2px solid $almost-black;
  border-radius: 100px;
  padding: 0 0 0 20px;
}
