@import '../variables';
@import './Status.scss';


.userStringSmall {
  padding: 2px;
  font-size: 15px;
}

.userStringMedium {
  padding: 2px;
  font-size: 20px;
}

.userStringLarge{
  padding: 2px;
  font-size: 25px;
}
