$common-button-color: #ccdbfd;
$secondary-color: #356abb;
$almost-black: #495057;
$on-settings-button-color: #ADB5BD;
$border-dialerstring-color:#ADB5BD;
$end-call-button-color: #e5383b;
$start-call-button-color: #80ed99;
$action-buttons-color: #ced4da;